<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/public_layout}">
<head>

<title>Raw Inventory</title>

</head>
<body>
	<div layout:fragment="content" class="container myspace">

		<div class="">
			<h2 align="center">Raw Inventory</h2>
			<hr/>
			<div class="row">
				<div class="col-sm">
					<button type="button" class="btn btn-primary">Add Raw Inventory</button>
				</div>
				<div class="col-sm">
					<button type="button" class="btn btn-danger">Delete All Raw</button>
				</div>
				<div class="col-sm">
					<button type="button" class="btn btn-primary">Create </button>
				</div>
			</div>
		</div>
		
		<hr/>

		<table class="table table-hover table stripped table responsive">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Category</th>
					<th scope="col">Description</th>
					<th scope="col">Name</th>
				</tr>
				</thead>
			<tbody>
				<tr th:each="product : ${products}">
			      <td th:text="${product.id}"></td>
			      <td th:text="${product.category}"></td>
			      <td th:text="${product.description}"></td>
			      <td th:text="${product.name}"></td>
			     
			    </tr>
			    </tbody>
			
			
			
		
		</table>

	</div>
</body>
</html>